<div class="div-wrapper-table">
    <button mat-raised-button color="primary" class="div-new-source" (click)="setHidden()">+ New source</button>
    <mat-form-field class="div-filter" *ngIf="getShowData() === true">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="div-content">
      <table mat-table [dataSource]="dataSourceConnector" class="div-data-table" *ngIf="getShowData() === true">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.body}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="div-data-table" *ngIf="getShowData() === true"></mat-paginator>
  
      <mat-horizontal-stepper #stepper *ngIf="getShowData() === false" [linear]="true" class="div-content">
          <mat-step [stepControl]="commonFormGroup" [completed]="false">
            <form [formGroup]="commonFormGroup">
              <ng-template matStepLabel> Choose your connector</ng-template>
              <mat-form-field>
                <mat-select [(value)]="topicName" required formControlName="selectedTopicNameCtrl" placeholder="Topic Name"> 
                  <mat-option value="schemasourceconnector">Topic 1</mat-option>
                  <mat-option value="jdbcsourceconnector">Topic 2</mat-option>
                  <mat-option value="filesteamsourceconnector">Topic 3</mat-option>
                </mat-select>
              </mat-form-field> <br>
              <mat-form-field>
                <mat-select [(value)]="className" required formControlName="selectedConnectorClassCtrl" placeholder="Connector Class"> 
                  <mat-option value="schemasourceconnector">SchemaSourceConnector</mat-option>
                  <mat-option value="jdbcsourceconnector">JdbcSourceConnector</mat-option>
                  <mat-option value="filesteamsourceconnector">FileStreamSourceConnector</mat-option>
                </mat-select>
              </mat-form-field> <br>
              <mat-form-field>
                <input matInput placeholder="Connector name" required formControlName="connectorNameCtrl">
              </mat-form-field> <br>
              <div class="action">
                <button mat-button matStepperNext color="accent">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="schemaSourceFormGroup" [completed]="false">
            <form [formGroup]="schemaSourceFormGroup">
              <ng-template matStepLabel>Detail</ng-template>
              <div class="hidden-form" *ngIf="className === 'schemasourceconnector'">
                <mat-form-field>
                  <input matInput placeholder="Source file" #sourceFile required formControlName="sourceFileCtrl">
                </mat-form-field> <br>
                
                <mat-form-field>
                  <input matInput placeholder="Max size" type="number" required formControlName="maxSizeCtrl">
                </mat-form-field>
                
              </div>
              <div class="action">
                <button mat-button matStepperPrevious color="primary">Back</button>
                <button mat-button matStepperNext color="accent" (click)="generateConfiguration()">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [completed]="false" [stepControl]="verifyFormGroup" [completed]="false">
            <form [formGroup]="verifyFormGroup">
              <ng-template matStepLabel>Verify</ng-template>
              <pre>{{ config | json }}</pre>
              <div class="action">
                <button mat-button matStepperPrevious color="primary">Back</button>
                <button mat-button matStepperNext color="accent">Create</button>
              </div>
            </form>
          </mat-step>
          <mat-step [completed]="false" >
              <ng-template matStepLabel>Done</ng-template>
              <div class="action">
                <button mat-button color="accent" (click)="getSourceConnector()">Done</button>
              </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
  </div>
  
  
  