@import '../../../styles-variables';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

nav {
  margin-bottom: 20px;
  position: relative;

  .mat-tab-link {
    min-width: 130px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .mat-tab-link {
      min-width: 0;
      padding: 0 15px;
    }
  }
}

.main-heading {
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card {
    span {
      float: right;
    }
  
    mat-card-title {
      margin-bottom: 5px;
    }
  
    mat-card-subtitle {
      text-align: right;
  
      mat-icon {
        width: 8px;
      }
    }
  
    mat-card-content {
      text-align: center;
    }
  }
  
  mat-spinner {
    margin: auto;
  }
  
  .error {
    text-align: center;
    padding: 20px;
  
    mat-icon {
      width: 54px;
      font-size: 48px;
    }
  
    > span {
      opacity: 0.4;
    }
    .symbol {
      font-weight: bold;
    }
  }
  
  .hidden-form {
    position: relative;
  }
  
  .kafka-connect-form {
    width: 30%;
    margin-left: 10%;
    position: relative;
  }
  
  .fab{
    right: 20px;
    bottom: 20px;
    margin: 20px;
    position: fixed !important;
  }

  .action {
    margin-top: 50px;
    margin-left: 20px;
  }

  .div-wrapper-table {
    width: 80%;
    height: auto;
    margin-left: 10%;
    position: fixed;
  }

  .div-new-source {
    position: relative;
    margin-bottom: 20px;
  }

  .div-data-table {
    width: 90%;
    position: relative;
  }

  .div-filter {
    width: 50%;
    margin: 20px;
    position: relative;
  }

  .div-content {
    width: 80%;
    position: absolute;
  }

  .div-dialog-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0px;
  }

  .mat-icon.material-icons.ng-star-inserted {
    color: green;
    position: relative;
    left: -15px;
    &::before {
      content: 'check';
      color: #fff;
      position: relative;
      left: 15px;
      font-weight: bold;
    }
  }
