<nav mat-tab-nav-bar >
  <a mat-tab-link
     *ngFor="let e of examples"
     [routerLink]="e.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     (click)="setShowData()"
     >
    {{e.label}}
  </a>
</nav>

<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>
